.content {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.content_text {
    text-align: center;
    margin-bottom: 25px;
}

.content_title {
    font-family: 'Smooch Sans', sans-serif;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 120px;
}


.content_subtitle {
    color: #1C1C1C;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.error {
    color: red;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    align-self: baseline;
}

.errorModal {
    display: block;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #1C1C1C;
    position: absolute;
    background-color: #F0EDFF;
    color: #1C1C1C;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.errorModal_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

.errorModal_text {
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}

.errorModal_text:nth-child(2) {
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: red;
    text-align: center;
}

.errorModal_text:nth-child(3) {
    font-family: 'Poppins',sans-serif;
    
    font-size: 25px;
    text-align: center;
}

.hidden {
    display: none;
}

.redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.imgContainer {
    width: 683px;
    height: 700px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

@media ( max-width: 1400px) {
    .imgContainer {
        width: 500px;
        height: 500px;
    }
    .picture {
        width: 500px;
        height: 500px;
        object-fit: contain;
    }
}

@media ( max-width: 1100px) {
    .imgContainer {
       display: none;
    }
    .content {
        gap: 2px;
    }
    .content_title {
        font-size: 64px;
        height: 70px;
    }
    .content_subtitle {
        font-size: 16px;
    }
    .redirect {
        font-size: 14px;
    }
    
}


